<header class="page-header">
  <div class="wrapper">
      <nav class="page-nav">
        <div class="logo">
            <a href="/"></a>
        </div>
        <ul class="nav-list">
          <li>
            <a class="nav-link" href="travel">TRAVEL + LODGING</a>
          </li>
          <li>
            <a class="nav-link"href="events">EVENTS</a>
          </li>
          <li>
            <a class="nav-link" href="photos">PHOTOS</a>
          </li>
          <li>
            <a class="nav-link" href="gifts">GIFTS</a>
          </li>
          <li>
            <a class="nav-link" href="contact">CONTACT US</a>
          </li>
        </ul>
        <button class="nav-menu">
          <img src="images/nav-button.png" />
        </button>
      </nav>
    </div>
  </div>
</header>
