<%= partial "partials/header" %>

<section class="hero">
    <div class="hero-wrapper">
        <div class="hero-image hero-image--events">
            <div class="Hero-text">
                <h1>events</h1>
                <h2>CELEBRATE WITH US!</h2>
            </div>
        </div>
    </section>

    <section class="center-copy">
        <p>Its not often we get all of our closest family and friends in one place at the same time, so we’re going to make the most of this! No pressure, join us where and when you can.
        </p>
    </section>

    <section class="emblem">
        <img src="images/emblem.png"/>
    </section>

    <section>
        <div class="wrapper">
            <div class="flex-wrapper events-wrapper">
              <div class="flex-column flex-column--image">
                  <img class="flex-image" src="images/welcomeparty.jpg"/>
                </div>
                <div class="flex-column">
                    <h4>welcome party</h4>
                    <p>Very casual gathering at Dan and Lindsay’s condo for any of the guests who arrive to Denver early. There will be light cocktails and apps. Please let us know if you can make it!</p>
                    <p>Thursday Oct. 5th, 4 PM to 7 PM at The Lido rooftop.</p>
                    <p>790 N Washington St. Denver, CO 80203</p>
                </div>
            </div>

            <div class="flex-wrapper events-wrapper">
              <div class="flex-column flex-column--image">
                  <img class="flex-image" src="images/rehearsal.jpg"/>
                </div>
                <div class="flex-column">
                    <h4>post-rehearsal meet + greet</h4>
                    <p>Out of town guests, please join us for a meet-n-greet rehearsal party and get to know the families!</p>
                    <p>Friday Oct. 6th, 6PM to 10PM at Govnr's Park Tavern</p>
                    <p>672 Logan St, Denver, CO 80203</p>
                </div>
            </div>

            <div class="flex-wrapper events-wrapper">
              <div class="flex-column flex-column--image">
                  <img class="flex-image" src="images/weddingday.jpg"/>
                </div>
                <div class="flex-column">
                    <h4>the big day</h4>
                    <p>We will be providing shuttles for guests departing at 3 PM from downtown Denver’s Union Station. Ceremony will be held outside and the reception will be inside a tent. If needed, we will provide space heaters and heat lamps and there is also a
                        large bonfire pit to gather around. After-party downtown to follow!</p>
                    <p>Saturday Oct. 7th, 3 PM to 10 PM at River Bend</p>
                </div>
            </div>

            <!-- <div class="flex-wrapper events-wrapper">
      <div class="flex-column">
        <img src="images/yoga.jpg" />
      </div>
      <div class="flex-column">
        <h4>for the women</h4>
        <p>Rise and shine and breathe in the wonderful day with a morning yoga and meditation practice. To calm the nerves, we will be hosting a group of women to stretch and breathe together.</p>
        <p>Saturday Oct. 7th, 9 AM at location TBD</p>
      </div>
    </div> -->

            <div class="flex-wrapper events-wrapper">
              <div class="flex-column flex-column--image">
                  <img class="flex-image" src="images/golf.jpg"/>
                </div>
                <div class="flex-column">
                    <h4>for the guys</h4>
                    <p>If you are getting to town early on Friday, join the guys for a round of 18 holes. Please let Dan or Doug Berry know if you can make it so we can schedule an accurate tee time.</p>
                    <p>Friday Oct. 6th, 11 AM at location TBD</p>
                </div>
            </div>

        </div>
    </div>
</section>
