--- title: The Pringleberries ---

<%= partial "partials/header" %>

<section class="hero">
    <div class="hero-wrapper">
        <div class="hero-image hero-image--gifts">
            <div class="Hero-text">
                <h1>gifts</h1>
                <h2>WE APPRECIATE YOU</h2>
            </div>
        </div>
    </section>

    <section class="center-copy">
        <p>First, we want to thank you so much for supporting us and cheering for us on our most important day. We truly feel our relationship was shaped by the friends and family who loved and grew with us over the last four years.</p>
        <p>This might sound weird, but Dan and I really don’t need much in terms of typical registry items. What we really want as we bring our lives together is a down payment on a new house and / or new bathrooms in our current condo.
        </p>
    </section>

    <section class="emblem">
        <img src="images/emblem.png"/>
    </section>

    <section class="zola-logo">
        <img src="images/zola-logo-blue.png"/>
    </section>

    <button class="button registry">
        <a href="https://www.zola.com/registry/pringleberry" target="_blank">VIEW REGISTRY</a>
    </button>
