---
title: The Pringleberries
---

<%= partial "partials/header" %>
<section class="hero">
  <div class="hero-wrapper">
    <div class="hero-image hero-image--home" >
      <div class="Hero-text">
        <h1>dan + lindsay</h1>
        <h2>OCTOBER 7TH, 2017<br>
          RIVER BEND  •  LYONS, COLORADO</h2>
      </div>
    </div>
  </div>
</section>
<section class="center-copy">
  <p>Please join us as we celebrate our love Columbus Day Weekend in the greater Denver area.
There will be several events held throughout the weekend to be sure we get to spend some quality time with all of our loved ones.</p>
</section>
<section class="emblem">
  <img src="images/emblem.png" />
</section>
<section class="headline">
  <h3>From the Bride</h3>
</section>
<section>
  <div class="wrapper">
    <div class="flex-wrapper">
      <div class="flex-column">
        <img src="images/pic_1.jpg" />
      </div>
      <div class="flex-column">
        <p>
          <h5>Where did you meet?</h5>
          <p>KeyBank in Boulder right after a homeless person robbed me and drained my bank account.</p>
          <h5>What caught your eye?</h5>
          <p>He actually caught my ear. I remember walking into the bank and overhearing Dan laughing at something. He has the most wonderful laugh.</p>
          <h5>What is the first thing you remember about him?</h5>
          <p>I remember standing in line at a grocery store and yelling/crying at him because my debit card wouldn’t work and it must have been his fault, of course!</p>
          <h5>When was the first time you said “I love you?”</h5>
          <p>We were at this three-story bar in Playa Del Carmen, Mexico on New Years Eve. It was boiling in there and Dan insisted on me holding his clammy hands.</p>
        </div>
      </div>
      <section class ="qanda">
        <h5>What are your top three favorite qualities about him?</h5>
        <p>1. He’s a “do-er”—Dan is literally the most generous, thoughtful and helpful person I know. 2. His confidence—he is not afraid to be who he is. He’ll sing poorly I MEAN LOUDLY in the car and can always laugh at himself. He can talk to literally any person in the world and can make them eat out of the palm of his hand. He is hot as hell makes me so proud to be on his arm. 3. He loves me even when I don’t deserve it. I can be a real snot sometimes but he’ll be the first person to shut it down and straighten me out. I don’t know how somebody could be so patient.</p>
        <h5>What was the proposal like?</h5>
        <p>Emotional. I’ve recently learned that I’m a total crier when it comes to love and weddings. Sometimes I just can’t believe how good it feels to be loved like this.</p>
        <h5>Whats their most annoying habit?</h5>
        <p>He’s always chasing me around telling me to turn off the lights!</p>
        <h5>What are you most excited about?</h5>
        <p>Marrying him. Loving him. Worshipping him and spoiling him. We are only 4 years in and it has been the happiest years of my life. We have a whole world left to see together and the most beautiful life ahead of us.</p>
      </section>
      <section class="emblem">
        <img src="images/emblem.png" />
      </section>
      <section class="headline">
        <h3>From the Groom</h3>
      </section>
      <section>
        <div class="wrapper">
          <div class="flex-wrapper">
            <div class="flex-column">
              <img src="images/pic_2.jpg" />
            </div>
            <div class="flex-column">
              <h5>Where did you meet?</h5>
              <p>Boulder Colorado, Key Bank, 28th and Pearl Street.</p>
              <h5>What caught your eye?</h5>
              <p>Beautiful blonde in a sundress and how many ones she had ;)</p>
              <h5>What is the first thing you remember about her?</h5>
              <p>How energetic she was, she always had a smile on her face and that she yelled at me for not her debit card not working.</p>
              <h5>When was the first time you said “I love you?”</h5>
              <p>Internally: When she dropped in Lake Chutes in front of me at Breckenridge and I saw she could ski.  Externally: Playa Del Carmen Mexico, New Year’s Eve 2013.</p>
              <h5>What are your top three favorite qualities about her?</h5>
              <p>Positivity in life, passion for being creative, drive to always better herself, our relationship and me.  Love for me.</p>
            </div>
          </div>
          <section class="qanda">
            <h5>What was the proposal like?</h5>
            <p>Exciting and nerve racking all at the same time.  My stomach was in my shoes but I knew it would be ok.</p>
            <h5>Whats their most annoying habit?</h5>
            <p>Turning off lights!</p>
            <h5>What are you most excited about?</h5>
            <p>Spending our lives and traveling the world together, she is my better half, the stealer of the covers and the one person I want to make happiest in this world.</p>
          </section>