---
title: The Pringleberries
---

<%= partial "partials/header" %>

<section class="hero">
  <div class="hero-wrapper">
    <img src="images/hero_05.jpg" />
      <div class="Hero-text">
        <h1>engagement shoot</h1>
        <h2>EDWARDS, COLORADO</h2>
      </div>
  </div>
</section>

<section class="center-copy">
  <p>Enjoy some of our favorite photos from our engagement shoot back in February.</p>
  <p>Credit: Bjorn Bauer Photography
  </p>
</section>

<section class="emblem">
  <img src="images/emblem.png" />
</section>

<button class="button registry">
  <a href="https://nibberry.pixieset.com/engagementshoot/" target="_blank">VIEW PHOTOS</a>
</button>
