---
title: The Pringleberries
---

<%= partial "partials/header" %>

<section class="hero">
  <div class="hero-wrapper">
    <img src="images/hero_05.jpg" />
      <div class="Hero-text">
        <h1>engagement shoot</h1>
        <h2>EDWARDS, COLORADO</h2>
      </div>
  </div>
</section>

<section class="center-copy">
  <p>Please let us know what events you plan on joining us for over our wedding weekend.
  </p>
</section>

<section class="emblem">
  <img src="images/emblem.png" />
</section>
