<%= partial "partials/header" %>

<section class="hero">
    <div class="hero-wrapper">
        <div class="hero-image hero-image--travel">
            <div class="Hero-text">
                <h1>travel + lodging</h1>
                <h2>WELCOME TO COLORADO</h2>
            </div>
        </div>
    </div>
</section>

<section class="center-copy">
    <p>We are so happy to have you join us in our city! Dan and I have been living in downtown Denver for the past 3 years and have yet to get bored. We have blocked off 20 rooms at the Fairfield Inn &amp; Suites [Marriott] in a convenient downtown
        Denver location, but if hotels just aren’t your thing, we absolutely recommend booking Airbnb’s. Feel free to shoot either of us an email if you need help determining a good neighborhood to rent in. We recommend neighborhoods named LoHi, the
        Highlands, Wash Park, Capitol Hill, Congress Park, and Uptown.
    </p>
    <p>
        <b>We definitely suggest booking early.</b>
        Our wedding not only falls on a holiday weekend but also during the Great American Beer Festival downtown which usually maxes out and fills up the entire city months out. The group rate cut-off date is August 23rd, so please book ASAP.
    </p>
    <p>
        <b>Should I rent a car?</b><br>
        If you plan to venture into the mountains, Boulder, Red Rocks, etc., then Yes! Rent a car. While Uber, Lyft and taxis are easily available to take you everywhere, you may find cheaper freedom in renting a car with your friends or family for the
        weekend. Although, remember you are at altitude and drinking and driving is never a good idea. So a casual day of touring breweries can absolutely sneak up on you quickly. FYI: We will be providing transportation to and from the venue in Lyons.
    </p>
    <p>
        <b>How should I get to Denver from the airport?</b><br>
        The future is here! Denver has an excellent train option that will take you from DIA airport and drop you off at Denver’s downtown Union Station for a whopping $9.00 each way. For reference, an UberX from the airport to downtown Denver is about $30
        one way.
    </p>
</section>

<section class="emblem">
    <img src="images/emblem.png"/>
</section>

<section class="headline">
    <h3>hotel</h3>
</section>

<section class="hotel">
    <div class="wrapper">
        <div class="flex-wrapper">
            <div class="flex-column flex-column--image">
                <img class="flex-image" src="images/fairfield.jpg"/>
            </div>
            <div class="flex-column">
                <p>
                    <b>FAIRFIELD INN &amp; SUITES BY MARRIOTT</b><br>2747 Wyandot St. Denver, CO 80211
                </p>
                <p>Standard King Room
                    <b>$159 / Night</b>
                    with group rate.
                </p>
                <p>Standard Double Queen Room
                    <b>$179 / Night</b>
                    with group rate.
                </p>
                <p>King Suite with living area &amp; pull-out couch
                    <b>$209 / Night</b>
                    with group rate.
                </p>
                <p>Double Queen Suite with living area &amp; pull-out couch
                    <b>$219 / Night</b>
                    with group rate.
                </p>
                <p>Centrally located in downtown Denver just off I-25 and Speer Blvd. Walking distance from many restaurants and activites. $12/day for on-site parking. Free street parking is very limited. Meeting location for shuttle pick-up and drop-off to Lyons
                    where the wedding ceremony and reception will be held.
                </p>
                <button class="button">
                    <a href="http://www.marriott.com/hotels/travel/denfd-fairfield-inn-and-suites-denver-downtown/?scid=bb1a189a-fec3-4d19-a255-54ba596febe2" target="_blank">RESERVE</a>
                </button>
            </div>
        </div>
    </div>
</section>
